# Dépendances
node_modules/
.pnp
.pnp.js

# secrets, clés API, mots de passe
.env

# Build / Production
build/
dist/
out/

# Cache
.cache/
.eslintcache
*.tsbuildinfo

# Tests & Couverture
coverage/
*.lcov

# Logs
logs/
*.log

# autres
*.pid
*.seed
*.pid.lock
.npm
.yarn-integrity
